---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

html {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  background: $white;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #615b5b;
  margin: 0 auto;
}

main {
  display: block;
}

.grid {
  display: block;
  padding: 0;
  margin: 0 -20px;
  font-size: 0;
  text-align: left;
}

.grid-centred {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
}

.grid-cell {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  font-size: 16px;
  text-align: left;
  vertical-align: top;
}

.appear {
  visibility: hidden;
  opacity: 0;
}

.appeared {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.header-nav {
  display:  block;
  padding: 75px 0 20px;
  border-bottom: 1px solid #ebeaea;
}

.header-logo {
  display: inline-block;
  font-family: "Cormorant Garamond", Courier, serif;
  font-size: 36px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

a {
  transition: color 0.2s linear;
  background-color: transparent;
  text-decoration: underline;
}

.header-links {
  float: right;
  padding: 0;
  margin: 15px 0 0;
  list-style: none;
}

.header-links li:first-child {
  margin-left: 0;
}

.header-links li {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.header-links li a {
  font-size: 18px;
  color: #393636;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
