---
---

//
// IMPORTS
//

//@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

html {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  background: $white;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #615b5b;
  margin: 0 auto;
}

main {
  display: block;
}

.grid {
  display: block;
  padding: 0;
  margin: 0 -20px;
  font-size: 0;
  text-align: left;
}

.grid-centred {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
}

.grid-cell {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  font-size: 16px;
  text-align: left;
  vertical-align: top;
}

.appear {
  visibility: hidden;
  opacity: 0;
}

.appeared {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.header-nav {
  display:  block;
  padding: 75px 0 20px;
  border-bottom: 1px solid #ebeaea;
}

.header-logo {
  display: inline-block;
  font-family: "Cormorant Garamond", Courier, serif;
  font-size: 36px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

a {
  color: #615b5b;
  transition: color 0.2s linear;
  background-color: transparent;
  text-decoration: underline;
}

p {
  margin: 0;
  font-weight: 400;
}

ul, ol {
  padding-left: 40px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.5;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 25.6px;
  font-weight: 400;
  letter-spacing: -.03em;
  color: #121111;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-size: 20.8px;
  font-weight: 500;
}

h4 {
  font-size: 17.6px;
  font-weight: 500;
}

h5 {
  font-size: 18.72px;
  font-weight: 500;
}

img {
  max-width: 100%;
  margin: 0;
  border-style: none;
}

.header-links {
  float: right;
  padding: 0;
  margin: 15px 0 0;
  list-style: none;
}

.header-links li:first-child {
  margin-left: 0;
}

.header-links li {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.header-links li a {
  font-size: 18px;
  color: #393636;
}

.header-links li a:hover svg {
  fill: #121111;
}

.header-links li a svg {
  width: 16px;
  height: 16px;
  fill: #393636;
}

svg {
  transition: fill 0.2s linear;
}

svg:not(:root) {
  overflow: hidden;
}

.article-list {
  display: block;
  padding: 0;
  margin: 50px 0;
  list-style: none;
}

.article-list li {
  position: relative;
  display: block;
  padding: 50px 0;
  border-bottom: 1px solid #ebeaea;
}

.article-list-item a {
  text-decoration: none;
}

.article-list-item a h5 svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: -2px 8px 0 8px;
  fill: #121111;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.article-list-item a:hover h5 svg {
  opacity: 100;
}

.article-list-item p {
  display: block;
  margin: 12px 0 10px;
  font-size: 15px;
  color: #615b5b;
}

.article-list-footer {
  display: block;
}

.article-list-footer span, .article-list-footer a {
  display: inline-block;
  font-size: 12px;
  color: #ada8a8;
  text-transform: uppercase;
  vertical-align: middle;
}

.article-list-footer a {
  margin-right: 7.5px;
  color: #615b5b;
}

.article-list-divider {
  margin: 0 15px;
}

.article-list-tags {
  display: inline-block;
  vertical-align: top;
}

.article {
  display: block;
  margin: 100px 0;
}

.article-header {
  display: block;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ebeaea;
}

.article-header p {
  display: block;
  margin: 12px 0 10px;
  font-size: 16px;
  color: #615b5b;
}

.article-content {
  display: block;
}

.article-content h2, .article-content h3, .article-content h4 {
  display: block;
  margin-bottom: 10px;
  font-family: lato,Helvetica,Arial,sans-serif;
  color: #121111;
}

.article-content ol {
  display: block;
  margin-bottom: 30px;
  list-style: decimal;
}

.article-content ul {
  display: block;
  margin-bottom: 30px;
  list-style: disc;
}

.article-content p, .article-content img, .article-content blockquote {
  display: block;
  margin-bottom: 30px;
}

.article-share {
  display: block;
  margin-top: -4px;
}

.article-share a {
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
}

.article-share a svg {
  vertical-align: middle;
  transition: fill .2s linear;
  fill: #ada8a8;
  width: 20px;
}

.article-comments {
  display: block;
  padding-top: 20px;
  margin-top: 30px;
  border-top: 1px solid #ebeaea;
}

code, kbd, samp, pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

.highlight {
  padding: 25px;
  margin: 30px 0;
  overflow: auto;
  font-weight: 400;
  background: #faf9f9;
  border-radius: 4px;
}

.highlight .c {
  font-style: italic;
  color: #998;
}

.highlight .nt {
  color: navy;
}

.highlight .na {
  color: teal;
}

.highlight .s {
  color: #d14;
}

.highlight pre {
  margin: 0;
}

.highlighter-rouge {
  padding: 2px 4px;
  font-size: 14px;
  color: #d14;
  background: #faf9f9;
  border: 1px solid #ebeaea;
  border-radius: 1px;
}

.footer {
  display: block;
  padding-top: 35px;
  margin-bottom: 85px;
  border-top: 1px solid #ebeaea;
}

.footer p {
  font-size: 15px;
  color: #ada8a8;
}

.footer a {
  text-decoration: none;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
